/* File: styles.css for styling index.html  */


.root {
    --White: whitesmoke;
    --Slate-300: hsl(212, 45%, 89%);
    --Slate-500: hsl(216, 15%, 48%);
    --Slate-900: hsl(218, 44%, 22%);

    --p-font: .975rem;
    --Outfit-400:  ;
    --Outfit-700:  ;
}

.background {
    background-image: url(./images/qr-background.jpeg);
    background-size: 100vw;
    max-width: 100%;
    width: cover;

}

.wrapper {
    margin-top: 100px;
    margin-inline: auto;
    min-width: 420px;
    width: 75%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
}

.card {
    margin: 200px auto;
    background: whitesmoke;
    color:#000;
    border-radius: 30px;
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px hsl(218, 44%, 22%) ;
}

.qr {
    width: 90%;
    height: 350px;
    color: rgb(49, 159, 186)
}

.qr__image {
    margin: 140px 0;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card__content {
    padding: 140px 20px;
    text-align: center;
}

h1 {
    font-family: Outfit, sans-serif;
    font-weight: 700;
    color: #000;
    display: flex;
}

p {
    margin: 20px;
}

.attribution {
    position: absolute;
    top: 1000px;
    font-size: 11px;
    text-align: center;
}

.attribution a { color: hsl(228, 45%, 44%)}
